src/main/java/SonyClient/proxy/SonyService4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SonyService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SonyService/" name="SonyServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://SonyService/" schemaLocation="http://localhost:9000/SonyService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMovie">
<part name="parameters" element="tns:getMovie"/>
</message>
<message name="getMovieResponse">
<part name="parameters" element="tns:getMovieResponse"/>
</message>
<message name="getSong">
<part name="parameters" element="tns:getSong"/>
</message>
<message name="getSongResponse">
<part name="parameters" element="tns:getSongResponse"/>
</message>
<message name="sendMovies">
<part name="parameters" element="tns:sendMovies"/>
</message>
<message name="sendMoviesResponse">
<part name="parameters" element="tns:sendMoviesResponse"/>
</message>
<message name="sendSongs">
<part name="parameters" element="tns:sendSongs"/>
</message>
<message name="sendSongsResponse">
<part name="parameters" element="tns:sendSongsResponse"/>
</message>
<message name="sendUserActivity">
<part name="parameters" element="tns:sendUserActivity"/>
</message>
<message name="sendUserActivityResponse">
<part name="parameters" element="tns:sendUserActivityResponse"/>
</message>
<portType name="SonyService">
<operation name="getMovie">
<input wsam:Action="http://SonyService/SonyService/getMovieRequest" message="tns:getMovie"/>
<output wsam:Action="http://SonyService/SonyService/getMovieResponse" message="tns:getMovieResponse"/>
</operation>
<operation name="getSong">
<input wsam:Action="http://SonyService/SonyService/getSongRequest" message="tns:getSong"/>
<output wsam:Action="http://SonyService/SonyService/getSongResponse" message="tns:getSongResponse"/>
</operation>
<operation name="sendMovies">
<input wsam:Action="http://SonyService/SonyService/sendMoviesRequest" message="tns:sendMovies"/>
<output wsam:Action="http://SonyService/SonyService/sendMoviesResponse" message="tns:sendMoviesResponse"/>
</operation>
<operation name="sendSongs">
<input wsam:Action="http://SonyService/SonyService/sendSongsRequest" message="tns:sendSongs"/>
<output wsam:Action="http://SonyService/SonyService/sendSongsResponse" message="tns:sendSongsResponse"/>
</operation>
<operation name="sendUserActivity">
<input wsam:Action="http://SonyService/SonyService/sendUserActivityRequest" message="tns:sendUserActivity"/>
<output wsam:Action="http://SonyService/SonyService/sendUserActivityResponse" message="tns:sendUserActivityResponse"/>
</operation>
</portType>
<binding name="SonyServicePortBinding" type="tns:SonyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendSongs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendUserActivity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SonyServiceService">
<port name="SonyServicePort" binding="tns:SonyServicePortBinding">
<soap:address location="http://localhost:9000/SonyService"/>
</port>
</service>
</definitions>