src/main/java/SonyClient/proxy/SonyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sony.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sony.com/" name="SonyServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://sony.com/" schemaLocation="http://localhost:9000/SonyService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMovieStats">
<part name="parameters" element="tns:getMovieStats"/>
</message>
<message name="getMovieStatsResponse">
<part name="parameters" element="tns:getMovieStatsResponse"/>
</message>
<message name="sendMovies">
<part name="parameters" element="tns:sendMovies"/>
</message>
<message name="sendMoviesResponse">
<part name="parameters" element="tns:sendMoviesResponse"/>
</message>
<message name="getUserActivity">
<part name="parameters" element="tns:getUserActivity"/>
</message>
<message name="getUserActivityResponse">
<part name="parameters" element="tns:getUserActivityResponse"/>
</message>
<portType name="SonyService">
<operation name="getMovieStats">
<input wsam:Action="http://sony.com/SonyService/getMovieStatsRequest" message="tns:getMovieStats"/>
<output wsam:Action="http://sony.com/SonyService/getMovieStatsResponse" message="tns:getMovieStatsResponse"/>
</operation>
<operation name="sendMovies">
<input wsam:Action="http://sony.com/SonyService/sendMoviesRequest" message="tns:sendMovies"/>
<output wsam:Action="http://sony.com/SonyService/sendMoviesResponse" message="tns:sendMoviesResponse"/>
</operation>
<operation name="getUserActivity">
<input wsam:Action="http://sony.com/SonyService/getUserActivityRequest" message="tns:getUserActivity"/>
<output wsam:Action="http://sony.com/SonyService/getUserActivityResponse" message="tns:getUserActivityResponse"/>
</operation>
</portType>
<binding name="SonyServicePortBinding" type="tns:SonyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMovieStats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserActivity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SonyServiceService">
<port name="SonyServicePort" binding="tns:SonyServicePortBinding">
<soap:address location="http://localhost:9000/SonyService"/>
</port>
</service>
</definitions>